<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<!--link rel="stylesheet" href="css/blueimp-gallery.css" type="text/css" />-->

<title>YoConn</title>

<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.33.0/css/blueimp-gallery.min.css">-->
<link rel="stylesheet" href="./node_modules/blueimp-gallery/css/blueimp-gallery.min.css" type="text/css">
<!-- Bootstrap 4.1.2 CSS -->
<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
<!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->

<!--The following <script>s can be placed near the end of your pages, right before the closing </body> tag, to enable them. 
    jQuery must come first, then Popper.js, and then our JavaScript plugins.
    can be put in a separate ejs file.
-->