<!--
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer class="container-fluid foot">
    <br></br>
    <hr class="dark-line" style="border-top: 1px solid #525252;">
    <div class="row-flex" style="display:flex; flex-flow: row wrap; justify-content: space-evenly; font-size:12px;">
        <a class="link" href="#">Login</a>
        <a class="link" href="#">Signup</a>
        <a class="link" href="#">Investors</a>
        <a class="link" href="#">Careers</a>
        <a class="link" href="#">Terms & Conditions</a>
        <a class="link" href="#">Privacy Policy</a>
        <a class="link" href="#">Contact Us</a>
    </div>

    <div>
        <p style="display:flex;  justify-content: center; font-size:10px;">YoConn.com © 2018 All Rights Reserved</p>
    </div>

</footer>