<!---------------------->
<title>YoConn</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
<!--link rel="stylesheet" href="css/bootstrap.css"> --not original one-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<!--link rel="stylesheet" href="./node_modules/blueimp-gallery/css/blueimp-gallery.min.css">-->
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.32.0/css/blueimp-gallery.css">
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.32.0/js/blueimp-gallery.min.js"></script>
-->
<link rel="stylesheet" href="css/blueimp-gallery.css" type="text/css" />
<script src="js/blueimp-gallery.js"></script>

<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.js"></script>
-->