<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- 
      container - used to center content 
      container-fluid - always full width 
    -->
    <div class="container">
        <a class="navbar-brand" href="#">
            <span style="color:#6a5acd;font-weight:bold;font-size:36px">YoConn</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!--form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" <i class="fa fa-search"></i></button>
        </form>-->

        <div class="wrap">
            <div class="search">
                <input type="text" style="border:1px solid blue" class="searchTerm" placeholder="Search API without tracking">
                <button type="submit" class="searchButton" style="border:1px solid blue">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>


        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <!--ul class="nav navbar-nav navbar-right flex-column mr-auto mt-2 mt-lg-0">-->
            <ul class="navbar-nav navbar-right">

                <li class="nav-item">
                    <a class="nav-link" style="color:blue" href="http://www.yoconn.com:80/">Timemap</a>
                </li>

                <li class="nav-item dropdown">
                    <!--a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Photos <span class="caret"></span></a>-->
                    <a class="nav-link dropdown-toggle" style="color:blue" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Photos
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://www.yoconn.com:80/gallery">Gallery</a>
                        <a class="dropdown-item" href="#">Albums</a>
                        <a class="dropdown-item" href="#">Shared Albums</a>
                        <a class="dropdown-item" href="http://www.yoconn.com:80/photo-books">Photo Books</a>
                        <a class="dropdown-item" href="http://www.yoconn.com:80/upload_photos">Upload Photos</a>
                        <a class="dropdown-item" href="#">Slide</a>
                        <a class="dropdown-item" href="#">Archive</a>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <!--a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Photos <span class="caret"></span></a>-->
                    <a class="nav-link dropdown-toggle" style="color:blue" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Videos
                        <span class="caret"></span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://www.yoconn.com:80/tutorials">Tutorials</a>
                        <a class="dropdown-item" href="http://www.yoconn.com:80/musics">Musics</a>
                        <a class="dropdown-item" href="#">Live</a>
                        <a class="dropdown-item" href="#">How to</a>
                        <a class="dropdown-item" href="#">LaughtMe</a>
                        <a class="dropdown-item" href="#">Movies</a>
                        <a class="dropdown-item" href="#">TV Shows</a>
                        <a class="dropdown-item" href="#">Sports</a>
                        <a class="dropdown-item" href="#">Games</a>
                        <a class="dropdown-item" href="#">Sports</a>
                        <a class="dropdown-item" href="#">Sci-Tech</a>
                        <a class="dropdown-item" href="#">History</a>
                        <a class="dropdown-item" href="#">Future</a>
                        <a class="dropdown-item" href="#">Politics</a>
                        <a class="dropdown-item" href="#">Religions</a>
                        <a class="dropdown-item" href="#">Upload</a>

                    </div>
                </li>

                <li>
                    <a class="nav-link" style="color:blue" href="http://www.yoconn.com:80/news">News</a>
                </li>
                <li>
                    <a class="nav-link" style="color:blue" href="http://opentraffic.io/" rel="noopener noreferrer" target="_blank">Traffic</a>
                </li>
                <li>
                    <a class="nav-link" style="color:blue" href="http://www.weather.gov/Radar" rel="noopener noreferrer" target="_blank">Weather</a>
                </li>

                <li>
                    <a class="nav-link" style="color:blue" href="http://www.yoconn.com:80/chat">Chat</a>
                </li>
                <li>
                    <a class="nav-link" style="color:blue" href="http://www.yoconn.com:80/login">Login</a>
                </li>
                <li>
                    <a class="nav-link" style="color:blue" href="http://www.yoconn.com:80/signup">Sign Up</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
