<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1" />
        <title>work with json and ajax</title>
        <link ref="stylesheet" href="css/styles4json.css">
    </head>
    <body>
        <header>
            <h1>JSON and AJAX</h1>
            <button id="btn">Fetch Info for 3 New Animals</button>
          </header>
          
          <div id="animal-info"></div>
          <script src="js/json.js"></script>
    </body>
</html>
